<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/foot.css">
    <title>KEBY</title>
</head>
<body>
    <div class="content">
        <!-- head -->
        <%- include('./page/head.ejs') %>
        <!-- /head -->
        <!-- center -->
        <div class="center">
            <div class="auth">
                <div class="auth-content tp100">
                    <div class="auth-login tm100">
                        <form method="POST" action="login">
                            <h1>LOGIN</h1>
                            <input type="email" name="email" placeholder="email">
                            <input type="password" name="password" placeholder="password">
    		           		<input type="hidden" name="action" value="login">
                            <button type="submit">Login</button>
                        </form>
                    </div>
                    <div class="auth-register tm100">
                        <form method="POST" action="register">
                            <h1>REGISTER</h1>
                            <input type="text" name="username" placeholder="username">
                            <div class="sexe">
                                <span style="display: block; margin-bottom: 10px;" >Sexe</span>
                                <input type="radio" name="sexe" value="homme" checked>
                                <label for="homme">homme</label>
                                <input type="radio" name="sexe" value="femme">
                                <label for="femme">femme</label>
                            </div>
                            <input type="email" name="email" placeholder="email">
                            <input type="password" name="password" placeholder="password">
                            <input type="password" name="cPassword" placeholder="verifier password">
    		           		<input type="hidden" name="action" value="register">
                            <button type="submit">Register</button>
                        </form>
                    </div>
                </div>
                <div class="splash">
                    <div>
                        <h1>Welcome Back!</h1>
                        <p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
                        <button class="splash-login">Login</button>
                    </div>
                    <div>
                        <h1>Hello, Friend!</h1>
                        <p>Entrez vos données personnelles et commencez votre voyage avec nous</p>
                        <button class="splash-register">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /center -->
        <!-- foot -->
        <%- include('./page/foot.ejs') %> 
        <!-- /foot -->
    </div>

    <!-- js -->
    <script src="https://kit.fontawesome.com/f5f4cb5593.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <script>
        $(function(){
            var login = $('.splash-login');
            var Register = $('.splash-register');
            var splash = $('.splash');
            var authContent = $('.auth-content');
            login.click(function(){
                splash.toggleClass('tp100');
                let child = splash.children('*');
                for (let index = 0; index < child.length; index++) {
                    child.eq(index).addClass('tm100');
                }

                authContent.toggleClass('tp100');
                let child1 = authContent.children('*');
                for (let index = 0; index < child1.length; index++) {
                    child1.eq(index).toggleClass('tm100');
                }
            });
            Register.click(function(){
                splash.toggleClass('tp100');
                let child = splash.children('*');
                for (let index = 0; index < child.length; index++) {
                    child.eq(index).toggleClass('tm100');
                }

                authContent.toggleClass('tp100');
                let child1 = authContent.children('*');
                for (let index = 0; index < child1.length; index++) {
                    child1.eq(index).toggleClass('tm100');
                }
            });
        });
    </script>
    <!-- /js -->
</body>
</html>