<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/foot.css">
    <title>KEBY</title>
</head>
<body>
    <div class="content">
        <!-- head -->
        <%- include('./page/head.ejs') %>
        <!-- /head -->
        <!-- center -->
        <div class="center">                
            <div class="head-center">
                <div class="container"><span>/home<%= url %> </span></div>
            </div>
            <div class="option">
                <div class="container">space</div>
            </div>
            <div class="list-prod">
                <div class="container">
                    <div class="prod-element">
                        <div class="prod-element-info">
                            <ul>
                                <li>desc</li>
                                <li>prix</li>
                            </ul>
                            <div class="control">
                                <a href=""><i class="fas fa-heart"></i></a>
                                <a href=""><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="prod-element">
                        <div class="prod-element-info">
                            <ul>
                                <li>desc</li>
                                <li>prix</li>
                            </ul>
                            <div class="control">
                                <a href=""><i class="fas fa-heart"></i></a>
                                <a href=""><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="prod-element">
                        <div class="prod-element-info">
                            <ul>
                                <li>desc</li>
                                <li>prix</li>
                            </ul>
                            <div class="control">
                                <a href=""><i class="fas fa-heart"></i></a>
                                <a href=""><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="prod-element">
                        <div class="prod-element-info">
                            <ul>
                                <li>desc</li>
                                <li>prix</li>
                            </ul>
                            <div class="control">
                                <a href=""><i class="fas fa-heart"></i></a>
                                <a href=""><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="prod-element">
                        <div class="prod-element-info">
                            <ul>
                                <li>desc</li>
                                <li>prix</li>
                            </ul>
                            <div class="control">
                                <a href=""><i class="fas fa-heart"></i></a>
                                <a href=""><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /center -->
        <!-- foot -->
        <%- include('./page/foot.ejs') %> 
        <!-- /foot -->
    </div>

    <!-- js -->
    <script src="https://kit.fontawesome.com/f5f4cb5593.js" crossorigin="anonymous"></script>
    <!-- /js -->
</body>
</html>