<div class="foot">
    <div class="top-foot">
        <div id="logo"><a href="#">Keby<span>.</span></a></div>
        <div class="contact">
            <span>Contact</span>
            <ul>
                <li>davidbryster17@gmail.com</li>
                <li>+225 01 40 54 41 97</li>
                <li>Rue D105</li>
            </ul>
        </div>
    </div>
    <a href="#" class="linksn">FACEBOOK</a>
    <a href="#" class="linksn">INSTAGRAM</a>
    <a href="#" class="linksn">TWITTER</a>
    <a href="#" class="linksn">GOOGLE</a>
</div>